[Unit]
Description=Limpieza semanal de flipbook (domingo de madrugada)

[Timer]
OnCalendar=Sun *-*-* 04:20:00
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
